.row{
    margin-left: 0px;
}

.container-fluid{
    margin: 0px!important;
}

.navbar{
    background-color: #790C5B;
    height: 100px;
}

.nav-link {
    color: white;
    font-weight: 700;
    font-size: 30px;
    line-height: 49px;
    text-align: center;
}

.nav{
    margin-top: 40px;
}

.navTabs{
    position: absolute;
    right: 340px;
    top: 35px;
}

.navTabs a{
    padding: 10px;
    margin-left: 10px;
    color: white;
    text-decoration: none;
    font-size: x-large;
    font-weight: 100;
}

.navTabs a:hover{
    padding: 10px;
    margin-left: 10px;
    color: yellow;
    text-decoration: none;
    font-size: x-large;
    font-weight: 100;
}

.item{
    height: 23rem;
    background-color: #FFB2A7;
    border: 1px solid black;
}


.item:hover{
    box-shadow: 1px 1px 3px black;
    cursor: pointer;
}

.buttons{
    display: flex;
    justify-content: space-between;
}

.buttons a:first-child{
    width: 80px;
}

.side {
    background-color: #CC0D73;
    width: 25%;
    height: 100%;
    position: absolute;
    left: 0px;
    border-right: 10px solid gainsboro;
}

#content{
    overflow-y: scroll;
    height: 99vh;
}

#head {
    font-weight: 700;
    font-size: 38px!important;
    line-height: 57px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    margin-top: 20px;
}

.homeitem{
    border: 0px;
}

.deals{
    height: 225px;
}


#product{
    padding: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

#product div div img{
    width: 100%;
    height: 500px;
}

#productData{
    background-color: #efdbd8;
    vertical-align: bottom;
    margin-left: 50px;
}

.summary{
    display: flex;
    justify-content: space-between;
    padding: 20px;

}

/* #likebtn{
    position: absolute;
    right: -8px;
    top: 17px;
} */

/* #productData{
    
} */